{% extends "base_main.html" %}
{% load i18n %}


{% block title %}
    {{ title }}
{% endblock %}


{% block main %}
<p>{{ random_password }}</p>
    <div style="max-width: 500px;" class="mx-auto">
        <form action="" method="POST">
            {% csrf_token %}
            <div class="card">
                <div class="card-header">
                    <h3>{{ title }}</h3>
                </div>
                <div class="card-body">
                    <form action="" method="POST">
                        {% for field in form %}
                            <div class="mb-3">
                                {{ field.label_tag }}
                                {{ field }}
                                {% if field.errors %}
                                    <div class="alert alert-danger mt-1" role="alert">
                                        {{ field.errors }}
                                    </div>  
                                {% endif %}
                            </div>
                        {% endfor %}
                    </form>
                </div>
                <div class="card-footer">
                    <div class="d-flex justify-content-start align-content-center">
                        <button class="btn btn-primary m-1">{% trans "Send" %}</button>
                        <a class="btn btn-primary m-1" href="{% url "sevo-auth-login" %}" class="btn btn-primary">{% trans "Cancel" %}</a>
                    </div>
                </div>
            </div>
        </form>
    </div>
{% endblock %}