{% extends "base_main.html" %}
{% load i18n %}


{% block title %}
    {{ title }}
{% endblock %}


{% block main %}
<p>{{ random_password }}</p>
    <div style="max-width: 500px;" class="mx-auto">
        <form action="" method="POST">
            {% csrf_token %}
            <div class="card">
                <div class="card-header">
                    <h3>{{ title }}</h3>
                </div>
                <div class="card-body">
                    {% for field in form %}
                        <div class="mb-3">
                            {{ field.label_tag }}
                            {{ field }}
                            {% if field.errors %}
                                <div class="alert alert-danger mt-1" role="alert">
                                    {{ field.errors }}
                                </div>  
                            {% endif %}
                        </div>
                    {% endfor %}
                </div>
                <div class="card-footer">
                    <button class="btn btn-primary">{% trans "Send" %}</button>
                </div>
            </div>
        </form>
    </div>
{% endblock %}