{% extends "base_main.html" %}
{% load i18n %}
{% load static %}

{% block title %}
    {{ title }}
{% endblock %}


{% block header %}
    <div class="container py-5">
        <div class="row">
            <div class="col-lg-12">
                <h1>{{ title }}</h1>
            </div>
        </div>
    </div>
{% endblock %}

{% block main %}
    <div class="mb-3">
        {% include "members/dashboard/partials/_data_table.html" %}
    </div>
    <a class="btn btn-primary" href="{% url "members-member-index" %}">{% trans "Members list" %}</a>
{%  endblock %}
