{% load i18n %}
<ul>
    <li>
        <button class="btn btn-link p-0 text-start" data-filter-key="publish_foto" data-filter-value="all">{% trans "All" %}</button>
    </li>
    <li>
        <button class="btn btn-link p-0 text-start" data-filter-key="publish_foto" data-filter-value="true">{% trans "Publish photos" %}</button>
    </li>
    <li>
        <button class="btn btn-link p-0 text-start" data-filter-key="publish_foto" data-filter-value="false">{% trans "Not publish phots" %}</button>
    </li>

</ul>