{% load i18n %}
<div class="accordion mb-3" id="filterAccordion">
    <div class="accordion-item">
      <h2 class="accordion-header">
        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#modules" aria-expanded="true" aria-controls="modules">
          {% trans "Modules" %}
        </button>
      </h2>
      <div id="modules" class="accordion-collapse collapse show" data-bs-parent="#filterAccordion">
        <div class="accordion-body">
            {% include "members/member/partials/_filter_modules.html" %}
        </div>
      </div>
    </div>

    <div class="accordion-item">
        <h2 class="accordion-header">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#positions" aria-expanded="false" aria-controls="positions">
            {% trans "Positions" %}
            </button>
        </h2>
        <div id="positions" class="accordion-collapse collapse" data-bs-parent="#filterAccordion">
            <div class="accordion-body">
                {% include "members/member/partials/_filter_positions.html" %}
            </div>
        </div>
    </div>

    <div class="accordion-item">
        <h2 class="accordion-header">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#tariffs" aria-expanded="false" aria-controls="tariffs">
            {% trans "Tariffs" %}
            </button>
        </h2>
        <div id="tariffs" class="accordion-collapse collapse" data-bs-parent="#filterAccordion">
            <div class="accordion-body">
                {% include "members/member/partials/_filter_positions.html" %}
            </div>
        </div>
    </div>

    <div class="accordion-item">
        <h2 class="accordion-header">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#genders" aria-expanded="false" aria-controls="genders">
            {% trans "Genders" %}
            </button>
        </h2>
        <div id="genders" class="accordion-collapse collapse" data-bs-parent="#filterAccordion">
            <div class="accordion-body">
                {% include "members/member/partials/_filter_genders.html" %}
            </div>
        </div>
    </div>

    <div class="accordion-item">
        <h2 class="accordion-header">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#is_active" aria-expanded="false" aria-controls="is_active">
            {% trans "Is active" %}
            </button>
        </h2>
        <div id="is_active" class="accordion-collapse collapse" data-bs-parent="#filterAccordion">
            <div class="accordion-body">
                {% include "members/member/partials/_filter_active.html" %}
            </div>
        </div>
    </div>

    <div class="accordion-item">
        <h2 class="accordion-header">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#publish_foto" aria-expanded="false" aria-controls="publish_foto">
            {% trans "Publish photos" %}
            </button>
        </h2>
        <div id="publish_foto" class="accordion-collapse collapse" data-bs-parent="#filterAccordion">
            <div class="accordion-body">
                {% include "members/member/partials/_filter_publish_fotos.html" %}
            </div>
        </div>
    </div>


    <div class="accordion-item">
        <h2 class="accordion-header">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#age" aria-expanded="false" aria-controls="age">
            {% trans "Age" %}
            </button>
        </h2>
        <div id="age" class="accordion-collapse collapse" data-bs-parent="#filterAccordion">
            <div class="accordion-body">
                {% include "members/member/partials/_filter_age.html" %}
            </div>
        </div>
    </div>


    <div class="accordion-item">
        <h2 class="accordion-header">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#age" aria-expanded="false" aria-controls="age">
            {% trans "Age" %}
            </button>
        </h2>
        <div id="age" class="accordion-collapse collapse" data-bs-parent="#filterAccordion">
            <div class="accordion-body">
                {% include "members/member/partials/_filter_age.html" %}
            </div>
        </div>
    </div>
</div>