{% load i18n %}
<div class="table-responsive">
    <table class="table table-bordered align-middle">
        <thead class="table-light">
        <tr>
            <th scope="col">{% trans "Firstname" %}</th>
            <th scope="col">{% trans "Lastname" %}</th>
            <th scope="col">{% trans "Age" %}</th>
            <th scope="col">{% trans "Gender" %}</th>
            <th scope="col">{% trans "Modules" %}</th>
            <th scope="col">{% trans "Positions" %}</th>
            <th scope="col">{% trans "Tariff" %}</th>
            <th scope="col">{% trans "Actions" %}</th>
        </tr>
        </thead>
        <tbody>
            {% for member in members %}
                <tr>
                    <td class="w-auto">{{ member.firstname }}</td>
                    <td class="w-auto">{{ member.lastname }}</td>
                    <td class="w-auto">{{ member.get_age }}</td>
                    <td class="w-auto">{{ member.gender }}</td>
                    <td class="w-auto">{{ member.get_modules_str }}</td>
                    <td class="w-auto">{{ member.get_positions_str }}</td>
                    <td class="w-auto">{{ member.tariff }}</td>
                    <td class="w-auto">
                        <div class="d-flex justify-content-start align-content-center">
                            <a class="btn btn-primary btn-sm d-block m-1" href="{% url "members-member-detail" id=member.id %}"><i class="demo-icon icon-info"></i></a>

                            <a class="btn btn-primary btn-sm d-block m-1" href="{% url "members-member-update" id=member.id %}"><i class="demo-icon icon-pencil"></i></a>
                            <a class="btn btn-danger btn-sm d-block m-1" href="#"><i class="demo-icon icon-trash"></i></a>
                        </div>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>