{% load i18n %}
<ul>
    <li>
        <button class="btn btn-link p-0 text-start" data-filter-key="order" data-filter-value="none">{% trans "None" %}</button>
    </li>
    <li>
        <button class="btn btn-link p-0 text-start" data-filter-key="order" data-filter-value="birthday_asc">{% trans "Birthday ascending" %}</button>
    </li>
    <li>
        <button class="btn btn-link p-0 text-start" data-filter-key="order" data-filter-value="birthday_desc">{% trans "Birthday descending" %}</button>
    </li>
    <li>
        <button class="btn btn-link p-0 text-start" data-filter-key="order" data-filter-value="entry_date_asc">{% trans "Entry date ascending" %}</button>
    </li>
    <li>
        <button class="btn btn-link p-0 text-start" data-filter-key="order" data-filter-value="entry_date_desc">{% trans "Entry date descending" %}</button>
    </li>

</ul>