{% load i18n %}
<div class="table-responsive">
    <table class="table table-bordered align-middle table-striped">
        <thead class="table-light">
        <tr>
            <th scope="col">{% trans "Title" %}</th>
            <th scope="col">{% trans "Amount" %}</th>
            <th scope="col">{% trans "Created at" %}</th>
            <th scope="col">{% trans "Updated at" %}</th>
            <th scope="col">{% trans "Actions" %}</th>
        </tr>
        </thead>
        <tbody>
            {% for tariff in tariffs %}
                <tr>
                    <th scope="row" class="w-50">
                        {{ tariff.title }}
                    </th>
                    
                    <td class="w-auto">
                        <div class="d-flex justify-content-end">
                            <div>
                                {{ tariff.amount }}
                            </div>
                        </div>
                    </td>

                    <td class="w-25"><time><small><i>{{ tariff.created_at|date:"d.m.Y, H:i" }}</i></small></time></td>
                    <td class="w-25"><time><small><i>{{ tariff.updated_at|date:"d.m.Y, H:i" }}</i></small></time></td>
                    <td class="w-auto">
                        <div class="d-flex justify-content-center align-content-center">
                            <a class="btn btn-primary btn-sm d-block m-1" href="{% url "members-tariff-update" id=tariff.id %}"><i class="demo-icon icon-pencil"></i></a>
                            <a class="btn btn-danger btn-sm d-block m-1" href="{% url "members-tariff-delete" id=tariff.id %}"><i class="demo-icon icon-trash"></i></a>
                        </div>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>