{% extends "base_main.html" %}
{% load i18n %}

{% block title %}
    {{ title }}
{% endblock %}


{% block main %}
    <div class="card">
        <div class="card-header">
            <h3>{{ todo.title }}
                <span class="badge rounded-pill {% if todo.done %}text-bg-success{% else %}text-bg-warning{% endif %}">
                    {% if todo.done %}
                        <i class="demo-icon icon-thumbs-up"></i>
                    {% else %}
                        <i class="demo-icon icon-thumbs-down"></i>
                    {% endif %}
                </span>
            </h3>
            <div>
                <strong>{% trans "Created by" %}:</strong> {{ todo.user}}
            </div>
            <div>
                <strong>{% trans "Created by" %}:</strong> {% if todo.don_by %}{{ todo.done_by}}{% else %}-{% endif %}
            </div>
            <div>
                <strong>{% trans "Created at" %}:</strong> {{ todo.created_at|date:"d.m.Y, H:i" }}
            </div>
            <div>
                <strong>{% trans "Updated at" %}:</strong> {{ todo.updated_at|date:"d.m.Y, H:i" }}
            </div>
            <div>
                <strong>{% trans "Categories" %}:</strong>
                {{ todo.get_categories_str}}
            </div>
        </div>
        <div class="card-body">
            <p>
                {% autoescape off %}
                    {{ todo.content }}
                {% endautoescape %}
            </p>
        </div>
        <div class="card-footer">

                <a type="button" href="{% url "todos-todo-index" %}" class="btn btn-primary m-1"><i class="demo-icon icon-left"></i></a>

                <a class="btn btn-{% if todo.done %}success{% else %}warning{% endif %}" href="{% url "todos-todo-done-detail" id=todo.id %}">
                    {% if todo.done %}
                        <i class="demo-icon icon-thumbs-up"></i>
                    {% else %}
                        <i class="demo-icon icon-thumbs-down"></i>
                    {% endif %}
                </a>

            </div>
        </div>
    </div>


{%  endblock %}