{% extends "base_sidebar.html" %}
{% load i18n %}
{% load static %}

{% block title %}
    {{ title }}
{% endblock %}


{% block header %}
    <div class="container-fluid py-5">
        <div class="row">
            <div class="col-lg-12">
                <h1>{{ title }} ({{ todos.count }})</h1>
                <a class="btn btn-primary btn-lg" href="{% url "todos-todo-create" %}"><i class="demo-icon icon-plus"></i></a>
            </div>
        </div>
    </div>
{% endblock %}

{% block main %}
    {% if todos %}
        <div>
            {% include "todos/todo/partials/_list_table.html" %}
        </div>
    {% else %}
        <p>{% trans "No todos available." %}</p>
    {% endif %}
{%  endblock %}

{% block side %}
    <div id="filter-section">
        {% include "todos/todo/partials/_frontend_filter_accordion.html" %}
        <div class="mb-3">
            <a class="btn btn-primary w-100" href="{% url "todos-todo-index" %}"><i class="demo-icon icon-cw"></i>{% trans "Reset filters" %}</a>
        </div>
    </div>



{% endblock %}


{% block js %}
    <script src="{% static "todos/js/filter.js" %}"></script>
{% endblock %}